<!--
 * team_standings_table_item
 * @author: actuosus
 * @fileOverview 
 * Date: 29/01/2013
 * Time: 17:58
-->

<td>{{position}}</td>
<td class="name">
    <a>
        {{view App.TeamCellView contentBinding=entrant}}
    </a>
</td>
<td>{{matchesPlayed}}</td>
<td>{{wins}}</td>
<td>{{draws}}</td>
<td class="team-losses">{{losses}}</td>
<td>{{view App.NumberView classNames="points-label" valueBinding=points}}</td>
<td>{{view App.NumberView classNames="difference-label" valueBinding=difference}}</td>
