<div class="control-row">
    {{view App.CountrySelectView controllerBinding="App.countriesController" placeholder="Country" valueBinding="view.country" title="The country is required."}}
</div>

<div class="control-row">
    <input type="text" name="nickname" class="nickname" placeholder="{{loc '_nickname'}}" title="The nickname is required." {{bind-attr value="view.nickname"}} required="required"/>
</div>

{{#if view.shouldShowRaceSelector}}
<div class="control-row">
    {{view App.ComboBoxView controllerBinding="App.racesController" placeholder="Race" valueBinding="view.race"}}
</div>
{{/if}}

<div class="control-row">
    <input type="text" name="first-name" class="first-name" size="10" placeholder="{{loc '_first_name'}}" {{bind-attr value="view.firstName"}} required="required" title="The first name is required."/>
    <!--<input type="text" name="middle-name" class="middle-name" size="10" placeholder="{{loc '_middle_name'}}" {{bind-attr value="view.middleName"}} />-->
    <input type="text" name="last-name" class="last-name" size="10" placeholder="{{loc '_last_name'}}" {{bind-attr value="view.lastName"}} required="required" title="The last name is required."/>
</div>

{{#if view.canBeCaptain}}
<div class="control-row">
    <label class="non-selectable">
        {{view App.CheckboxView checkedBinding="view.isCaptain"}}
        {{loc '_captain'}}
    </label>
</div>
{{/if}}

<div class="control-row">
    <button type="submit" class="btn btn-primary save-btn">{{loc '_save'}}</button>
    <button type="button" class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>