<div class="control-row">
    {{view App.CountrySelectView controllerBinding="App.countriesController" placeholder="Country" valueBinding="view.country" title="The country is required." required="required"}}
</div>

<div class="control-row">
    <input type="text" name="nickname" class="nickname" placeholder="Nickname" title="The nickname is required." {{bindAttr value="view.nickname"}} required="required"/>
</div>

{{#if view.shouldShowRaceSelector}}
<div class="control-row">
    {{view App.ComboBoxView controllerBinding="App.racesController" placeholder="Race" valueBinding="view.race"}}
</div>
{{/if}}

<div class="control-row">
    <input type="text" name="first-name" class="first-name" size="10" placeholder="First name" {{bindAttr value="view.firstName"}} required="required" title="The first name is required."/>
    <!--<input type="text" name="middle-name" class="middle-name" size="10" placeholder="Middle name" {{bindAttr value="view.middleName"}} />-->
    <input type="text" name="last-name" class="last-name" size="10" placeholder="Last name" {{bindAttr value="view.lastName"}} required="required" title="The last name is required."/>
</div>

{{#if view.canBeCaptain}}
<div class="control-row">
    <label>
        {{view App.CheckboxView checkedBinding="view.isCaptain"}}
        {{loc '_captain'}}
    </label>
</div>
{{/if}}

<div class="control-row">
    <button type="submit" class="btn btn-primary save-btn">{{loc '_save'}}</button>
    <button type="button" class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>