<!--
 * match_grid_item
 * @author: actuosus
 * @fileOverview 
 * Date: 21/01/2013
 * Time: 07:56
-->

<div class="match-extra-label"></div>

<div class="match-start-date" {{bindAttr title="view.content.longDateString"}}>{{moment view.content.date format=DD.MM.YY}}</div>
{{#if view.content.games.length}}
<div class="match-info-bar">
    {{view App.GamesInfoBarView contentBinding=view.content.games showInfoLabel=true}}
</div>
{{/if}}
<div class="teams-container">
    {{view App.TeamGridItemView contentBinding=view.content.team1 pointsBinding=view.content.team1_points identifier="team1"}}
    {{view App.TeamGridItemView contentBinding=view.content.team2 pointsBinding=view.content.team2_points identifier="team2"}}
</div>