
<div class="control-row">
    <label for="name">{{loc '_title'}}:</label>
    {{view App.MultilingualTextField name="title" classNames="title" valueBinding="view.content.title" languagesBinding="App.languages" selectedLanguage=App.currentLanguage required="required" title="The name is required."}}
</div>

<div class="control-row">
    <label for="name">{{loc '_description'}}:</label>
    {{view App.MultilingualTextArea name="description" classNames="description" cols="90" valueBinding="view.content.description" languagesBinding="App.languages" selectedLanguage=App.currentLanguage}}
</div>

<div class="control-row">
    <label for="visual_type">{{loc '_type'}}:</label>
    {{view App.SelectView contentBinding="App.visualTypes" valueBinding="view.visualType"}}
</div>

<div class="control-row">
    <label for="rating">{{loc '_rating'}}:</label>
    {{view App.NumberInputView name="rating" class="rating" stepping="float" size="2" min="0" max="100" step="0.1" maxlength="4" valueBinding="view.content.rating"}}
</div>

{{#unless view.hasValidContent}}

    {{#if view.isGridType}}
    <div class="control-section control-section-tournament-grid">
        <div class="control-row">
            <label for="entrants-number">{{loc '_entrants_number'}}:</label>
            {{view App.NumberInputView name="entrants-number" class="entrants-number" stepping="binary" size="2" min="2" max="1024" maxlength="4" required="required" value="2"}}
        </div>
    </div>
    {{/if}}

    {{#if view.isDoubleType}}
        <div class="control-section control-section-tournament-grid">
            <div class="control-row">
                <label for="entrants-number">{{loc '_entrants_number'}}:</label>
                {{view App.NumberInputView name="entrants-number" class="entrants-number" stepping="binary" size="2" min="4" max="1024" maxlength="4" required="required" value="4"}}
            </div>
        </div>
    {{/if}}

{{/unless}}

<div class="control-row">
    <button type="submit" class="btn btn-primary save-btn">{{view.submitButtonLabel}}</button>
    <button type="button" class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>