
<div class="control-row">
    <label for="name">{{loc '_title'}}:</label>
    {{view App.MultilingualTextField name="name" classNames="name" valueBinding="view.name" languagesBinding="App.languages" selectedLanguage=App.currentLanguage required="required" title="The name is required."}}
</div>

<div class="control-row">
    <label for="name">{{loc '_description'}}:</label>
    {{view App.MultilingualTextArea name="description" classNames="description" cols="90" valueBinding="view.description" languagesBinding="App.languages" selectedLanguage=App.currentLanguage}}
</div>

<div class="control-row">
    <label for="visual_type">{{loc '_type'}}:</label>
    {{view App.SelectView contentBinding="App.visualTypes" valueBinding="view.visualType"}}
</div>

<div class="control-row">
    <label for="rating">{{loc '_rating'}}:</label>
    <input type="number" name="rating" class="rating" size="2" maxlength="4" min="0" step="0.1"/>
</div>

{{#if view.isGridType}}
<div class="control-section control-section-tournament-grid">
    <div class="control-row">
        <label for="entrants-number">{{loc '_entrants_number'}}:</label>
        <!--<input type="number" name="entrants-number" class="entrants-number" size="2" maxlength="4" min="1" required="required"/>-->
        {{view App.NumberInputView name="entrants-number" class="entrants-number" size="2" min="2" max="1024" maxlength="4" required="required" value="2"}}
    </div>
</div>
{{/if}}

{{#if view.isDoubleType}}
    <div class="control-section control-section-tournament-grid">
        <div class="control-row">
            <label for="entrants-number">{{loc '_entrants_number'}}:</label>
            {{view App.NumberInputView name="entrants-number" class="entrants-number" size="2" min="4" max="1024" maxlength="4" required="required" value="4"}}
        </div>
    </div>
{{/if}}

{{#if view.isGroupType}}
<div class="control-section control-section-group">
    <div class="control-row">
        <label for="group-number">{{loc '_group_number'}}:</label>
        <input type="number" name="group-number" class="group-number" size="2" maxlength="4" min="1" required="required"/>
    </div>
</div>
{{/if}}

{{#if view.isMatrixType}}
<div class="control-section control-section-group">
    <div class="control-row">
        <label for="matches-number">{{loc '_matches_number'}}:</label>
        <input type="number" name="matches-number" class="matrix-matches-number" size="2" min="1" maxlength="4" required="required"/>
    </div>
</div>
{{/if}}

{{#if view.isTeamType}}
<div class="control-section control-section-group">
    <div class="control-row">
        <label for="entrants-number">{{loc '_entrants_number'}}:</label>
        <input type="number" name="entrants-number" class="team-entrants-number" size="2" min="1" maxlength="4" required="required"/>
    </div>
    <div class="control-row">
        <label for="matches-number">{{loc '_matches_number'}}:</label>
        <input type="number" name="matches-number" class="team-matches-number" size="2" min="1" maxlength="4" required="required"/>
    </div>
</div>
{{/if}}

<div class="control-row">
    <button type="submit" class="btn btn-primary save-btn">{{loc '_create'}}</button>
    <button type="button" class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>