<!--
 * match_filter_form
 * @author: actuosus
 * @fileOverview
 * Date: 21/01/2013
 * Time: 07:49
-->

<div class="selector row" autocomplete="off">
    <div class="cf">
        <div class="columnLeft">

            <label>
                <span>{{loc '_type'}}:</span>
                {{view App.SelectView contentBinding=App.matchTypes promt="Все" valueBinding=view.matchType}}
            </label>
            <label>
                <span>{{loc '_team'}}:</span>
                {{view App.ComboBoxView classNames="team-combobox" controllerBinding=view.entrants promt="Все" form=view valueBinding=view.team}}
            </label>
            <label>
                <span>За время:</span>
                {{view App.SelectView contentBinding=App.peroids valueBinding=view.periodType}}

                {{#if view.isPeriod}}
                <div class="period-selector">
                    {{view App.DateField classNames="start-date" valueBinding="view.startDate"}}
                    {{view App.DateField classNames="end-date" valueBinding="view.endDate"}}
                </div>
                {{/if}}
                {{#if view.isDate}}
                <div class="date-selector">
                    {{view App.DateField classNames="date" valueBinding="view.date"}}
                </div>
                {{/if}}
            </label>

            <!--<button type="button" class="btn btn-large search-btn submit" title="Отфильтровать" {{action filter}}><i class="icon-search icon-white"></i></button>-->
        </div>
    </div>
</div>