<!--
 * match_filter_form
 * @author: actuosus
 * @fileOverview
 * Date: 21/01/2013
 * Time: 07:49
-->

<form class="selector row">
    <div class="cf">
        <div class="columnLeft">

            <label>
                <span>{{loc '_type'}}:</span>
                {{view App.SelectView contentBinding=App.matchTypes promt="Все" valueBinding=view.matchType}}
            </label>
            <label>
                <span>{{loc '_team'}}:</span>
                {{view App.ComboBoxView controllerBinding=view.entrants promt="Все" form=view valueBinding=view.team}}
            </label>
            <label>
                <span>За время:</span>
                {{view App.SelectView contentBinding=App.peroids valueBinding=view.periodType}}

                {{#if view.isPeriod}}
                <div class="period-selector">
                    <input type="date" class="start-date" {{bindAttr value="view.startDate"}}/>
                    <input type="date" class="end-date" {{bindAttr value="view.endDate"}}/>
                </div>
                {{/if}}
                {{#if view.isDate}}
                <div class="date-selector">
                    <input type="date" class="date" {{bindAttr value="view.date"}}/>
                </div>
                {{/if}}
            </label>

            <button type="button" class="btn btn-large search-btn submit" title="Отфильтровать" {{action filter}}><i class="icon-search icon-white"></i></button>
        </div>
    </div>
</form>