<div class="control-row">
    <label for="title">{{loc '_title'}}:</label>
    {{view App.MultilingualTextField name="title" classNames="title" valueBinding="view.title" languagesBinding="App.languages" selectedLanguage=App.currentLanguage}}
</div>

<div class="control-row">
    <label for="description">{{loc '_description'}}:</label>
    {{view App.MultilingualTextArea name="description" classNames="description" cols="40" valueBinding="view.description" languagesBinding="App.languages" selectedLanguage=App.currentLanguage}}
</div>

<div class="control-row">
    <label for="map_type">{{loc '_map_type'}}:</label>
    {{view App.MultilingualTextField name="map_type" classNames="map_type" valueBinding="view.map_type" languagesBinding="App.languages" selectedLanguage=App.currentLanguage}}
</div>

<div class="control-row">
    <button type="submit" class="btn btn-primary save-btn">{{loc '_save'}}</button>
    <button type="button" class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>