<!--
 * table_item
 * @author: actuosus
 * @fileOverview 
 * Date: 28/01/2013
 * Time: 22:17
-->

<td class="matches-table-date" title="Дата">{{view App.DateWithPopupView classNames='match-start-date' contentBinding=view.content.date format=DD.MM.YY showPopupBinding="view._isEditing"}}</td>
<td class="matches-table-team1">{{view App.TeamCellView contentBinding=view.content.entrant1 matchBinding=view.content contentIndex=0}}</td>
{{#if view.hasPointsOrEditable}}
    <td {{bindAttr class=":matches-table-points :matches-table-points-team1 view.content.firstIsAWinner:winner view.content.firstIsALoser:loser"}} title="Счёт"><span class="left-bracket-symbol">[</span>{{view App.NumberView classNames="points-label" valueBinding=view.content.entrant1_points isEditableBinding="App.isEditingMode"}}</td>
    <td class="matches-table-points">:</td>
    <td {{bindAttr class=":matches-table-points :matches-table-points-team2 view.content.secondIsAWinner:winner view.content.secondIsALoser:loser"}}>{{view App.NumberView classNames="points-label" valueBinding=view.content.entrant2_points isEditableBinding="App.isEditingMode"}}<span class="right-bracket-symbol">]</span></td>
{{else}}
    <td colspan="3" class="matches-table-points matches-table-points-undefined"><span class="left-bracket-symbol">[</span><span class="versus-marker">VS</span><span class="right-bracket-symbol">]</span></td>
{{/if}}
<td class="matches-table-team2">{{view App.TeamCellView contentBinding=view.content.entrant2 matchBinding=view.content contentIndex=1}}</td>
<td class="matches-table-map-type" title="Карта">{{#if view.content.map_type}}<span class="matches-table-map-type-marker">@</span>{{view.content.map_type}}{{/if}}</td>
<td class="matches-table-description" title="Описание"><a {{bindAttr href="view.content.link"}} target="_blank">{{view.content.description}}</a></td>
<td>
    {{view App.GamesInfoBarView contentBinding=view.content.games _isEditingBinding=view._isEditing}}
</td>
{{#if view._isEditing}}
    <td>
        <i {{bindAttr class=":icon-lock view.content.isClosed"}}></i>
    </td>
    <td>
        {{view App.RemoveButtonView classNames="remove-match" useConfirmation=true}}
    </td>
{{/if}}
